<form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm" class="container mt-5">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input
      type="text"
      ngModel
      name="nom"
      class="form-control"
      id="nom"
      required
      #nomref="ngModel"
      [ngClass]="{ 'is-invalid': !nomref.valid && nomref.touched }"
    />
  </div>
  <div class="mb-3">
    <label for="prix" class="form-label">Prix</label>
    <input
      type="text"
      ngModel
      name="prix"
      class="form-control"
      id="prix"
      required
      #prixRef="ngModel"
      [ngClass]="{ 'is-invalid': !prixRef.valid && prixRef.touched }"
    />
  </div>
  <div class="mb-3">
    <label for="quantite" class="form-label">Quantite</label>
    <input
      type="text"
      ngModel
      name="quantite"
      class="form-control"
      id="quantite"
      required
      #quantiteRef="ngModel"
      [ngClass]="{ 'is-invalid': !quantiteRef.valid && quantiteRef.touched }"
    />
  </div>
  <div class="mb-3">
    <label for="categorie" class="form-label">Categorie</label>
    <select
      class="form-select"
      name="categorie"
      id="categorie"
      ngModel
      required
    >
      <option selected>Select a Categorie</option>
      <option *ngFor="let c of categories" [ngValue]="c">{{ c.nom }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="photo" class="form-label">Photo</label>
    <input
      class="form-control"
      ngModel
      name="photo"
      type="file"
      id="photo"
      (change)="selectImage($event)"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">
    Submit
  </button>
</form>
